@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #225db0;
    background-size: cover;
    height: 100vh;
    font-family: "Roboto";
}

.main-heading {
    color: #ffffff;
    font-size: 28px;
    padding-left: 20px;
    padding-top: 30px;
}

.main-para {
    color: #ffffff;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.img-card {
    background-color: #ffffff;
    margin-left: 20px;
    text-align: center;
    width: 135px;
    height: 90px;
    border-radius: 12px;
    margin-top: 10px;
}

.img {
    height: 40px;
    width: 40px;
    margin-top: 10px;
}

.below-img {
    color: #1f2933;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.carousel-card {
    padding: 20px;
}

.list-heading {
    color: #ffffff;
    font-size: 24px;
    padding-left: 20px;
}

.list-items {
    color: #ffffff;
    font-size: 16px;
    padding-left: 50px;
}

.button-card {
    text-align: center;
    padding-top: 10px;
}

.button {
    background-color: #225db0;
    color: #ffffff;
    border-color: #ffffff;
    border-width: 1px;
}